{% extends 'base.html.twig' %}

{% block title %}Types{% endblock %}

{% block monTitre %}
    Liste des types
{% endblock %}
{% block body %}
        <div class="row align-items-center">
        {% for type in types %}
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <img src="{{asset('images/types/' ~ type.image)}}" class="perso_imgAliment card-img-top">
                    </div>
                    <div class="col-4">
                        <h3>{{type.libelle}}</h3>
                    </div>
                </div>
            </div>
        {% endfor %}
       </div>
{% endblock %}
